.container {
  padding: 0 0rem;
  display: flex;
  justify-content: center;
  transition: all 1s;
  background-color: #1a1b22;
  height: 100%;
}

.profile {
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile img {
  border-radius: 50%;
}

.content {
  display: flex;
  width: 65%;
  height: 100%;
  padding: 0;
}

.silly {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font-size: 40px;
  outline: inherit;
  transition: all 0.2s;
}

.silly:hover {
  rotate: 2deg;
  color: #fe0244;
}

.navbar {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #2a2b36;
}

.navbarcontents {
  margin-left: 16%;
  width: 50%;
  padding-left: 0;
  padding: 0 2rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: flex-start;
  transition: all 1s;
}

.navitem {
  text-align: center;
  padding-top: 1rem;
  padding-left: 0;
  margin-right: 3rem;
  transition: all 0.3s;
}

.navitem:hover {
  color: #fe0244;
}

.name {
  padding: 10px;
}
.name:hover {
  color: red;
  rotate: 3deg;
}

.shrink {
  transition: all 0.3s;
}

.shrink:hover {
  transform: scale(1.05);
}

.bandcampentry {
  border: 0;
  width: 20rem;
  height: 42px;
}
